// COLORS
$white: #F5F5F5;
$darkGrey: #25252B;
$lightGrey: #6C6C6C;
$background: #2C2C32;
$blue: #0066B9;

// gradient
// $coolGrad: linear-gradient(
//   269deg,
//   #ff9e01 0%,
//   #fd910b 0%,
//   #e30870 100%,
//   #804f01 100%
// );
